html,body, #root {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --blue: #4B69FD;
  --beige: #FFF9EB;
  --orange: #FE652B;
  --grey: #C4C4C4;
}

.bg-blue {
  background-color: var(--blue);
}

.bg-beige {
  background-color: var(--beige);
}

.bg-orange {
  background-color: var(--orange);
}

.text-orange {
  color: var(--orange);
}

.btn-orange {
  background-color: var(--orange);
  color: #FFF;
}

.h-100 {
  height: 100%;
}